:root{
    --btnBackground: WHITE ;
    --btnBackgroundHover: #92cccc00;
    background-image: linear-gradient(to right, rgba(214, 37, 37, 0.397), rgb(78, 201, 184));
}

body {
    position: relative;
    margin: 0.5rem;
    min-height: 98vh;
    background: var(--mainBackground);
    color: var(--mainTextColor);
}

header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#display-highscore-div > button,
#highscore-input-div > button,

header button {
    text-decoration: none;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px; 
    padding: 5px 10px 5px 10px;
}

header p {
    padding: 3px 10px 3px 10px; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vh 15vw 5vh 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main h1 {
    margin: 3vh;
    font-size: 200%;
    text-align: center;
}

main > div,
#instructions {
    padding: 0 15% 0 15%;
    text-align: center;
    font-size: 125%;
}

main > button {
    margin: 3vh;
    width: max-content;
    padding: 0 10px 0 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px; 
    font-size: 150%;
}

main > ul {
    align-self: flex-start;
    margin-left: 15%;
}

main > ul li {
    margin: 3vh;
    width: max-content;
    min-width: 10vw;
    padding: 5px 10px 5px 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px; 
    font-size: 150%;
}

main > div {
    justify-content: flex-start;
    display: none;
}

main > div > * {
    margin: 1rem;
}

#submit-highscore-div button:hover,
#display-highscore-div button:hover,
body button:hover, 

main > ul li:hover {
    background: var(--btnBackgroundHover);
    cursor: pointer;
}

footer {
    position: absolute;
    height: 5vh;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#highscore-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#highscore-input-div > *{
    margin: 0.5rem;
}

#highscore-input-div > p {
    display: inline;
}

#highscore-input-div > input {
    width:30%;
}